# R-related
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore all CSV files (any folder)
*.csv

# Ignore all XLSX files (any folder)
*.xlsx

# Ignore config file
config.yml

# Diagnostics stuff
# Ignore the folder "diagnostics data"
**/diagnostics data/

# Ignore the script output file "diagnostics.R" (anywhere in the repo)
**/output diagnostics.R

# === EXCEPTIONS (files to include in Git) ===
!data/arr/pr/utilities/pr_columns.csv
!data/arr/pr/utilities/pr_columns_order.csv
!data/arr/pr/utilities/pr_old_new_names.csv
